body {
    background: rgb(82,43,82);
    font-family: "bebas_neueregular", Helvetica, Arial, sans-serif;
    color: #333;
}

#holder{
    position : absolute;
width: 690px;
height : 1080px;
right : 0px;
}


@font-face {
    font-family: 'bebas_neueregular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#title {
  
  width: 680px;
height: 50px;
font-size: 50px;
color: white;
position: absolute;
right: 0px;

padding: 5px;
background-color: black;
text-align: center;
}

#title2 {
    
width: 680px;
height: 50px;
font-size: 50px;
color: white;
position: absolute;
right: 0px;
margin-top: 350px;
padding: 5px;
background-color: black;
text-align: center;
}

#rt {
    position : absolute;
    right : 180px;
    top:90px;
}

#hash {
    position : absolute;
    right : -35px;
    top:90px;
}

#urls {
     position : absolute;
    right : -250px;
    top:90px;
}

#TitleContain{
     position : absolute;

    right : 200px;
    top:90px;
   
    font-size : 30px;
}

.subtitles {
color : #4B0082;
font-size: 30px;
position: absolute;

}

#TitleContain{
     position : absolute;

    right : 200px;
    top:90px;
   
    font-size : 25px;
    color:black;
}
#titlert{
 right: 525px;
top: 280px;
}

#titleHash{
 right: 275px;
top: 280px;
}

#titleurls{
 right: 88px;
top: 280px;
}

#most{
  position: absolute;
right: 72px;
top: 450px;
font-size: 25px;
color: black;
width: 537px;
}

#rtWith{
  position: absolute;
right: -100px;
top: 536px;
font-size: 50px;
color: white;
width: 537px;
}