body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

#holder{
    height:100%;
    width:50%;
    position : fixed;
    left:0px;
    top : 0px;
}